include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include Makefile
include README.md
include release.py

recursive-include packaging *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include prestoadmin *.ini

recursive-include docs *.rst conf.py Makefile make.bat
